<!DOCTYPE html>
<html>
  <head>
    <title>Eddie Glenn dot com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.3/rails.min.js" integrity="sha512-yDJWVxuRSkQa1u9/Zif6Gh93Gk0Urboz98JLEPcERMQ+pTHz/c27d0Xz08G+lgutFyKklB9UILtnhG6bth6B4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag  'application', media: 'all' %>
  </head>

  <body class="mb-5">
    <% if params['controller'] == 'home' || params['controller'] == 'blog_posts' %>
      <%= render partial: 'shared/home_nav' %>
    <% elsif params['controller'] == 'moo_tasks' %>
      <%= render partial: 'shared/moo_navbar' %>
    <% else %>
      <%= render partial: 'shared/navbar' %>
      <%= render partial: 'shared/admin_navbar' %>
    <% end %>

    <div class="container"> <%= yield %> </div>
    <% unless params['controller'] == 'moo_tasks' || params['controller'] == 'home' %>
      <footer class="text-muted">
        <hr class="mt-5">
        <div class="container">
          <footer class="py-3 my-4">
            <ul class="nav justify-content-center pb-3 mb-3">
              <% if current_user&.admin? %>
                <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
              <% end %>
              <li class="nav-item"><a class="nav-link" href="/about-boat">About Boat</a></li>
              <li class="nav-item"><a class="nav-link" href="/quotes_home">Boat Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/">Eddie G dot me</a></li>
              <% if current_user&.admin? %>
                <li class="nav-item"><%= link_to "Moo Tasks", moo_tasks_path, class: 'nav-link' %></li>
              <% end %>
            </ul>
          </footer>
        </div>
      </footer>
    <% end %>
  </body>
</html>
<%= javascript_pack_tag 'application' %>
